<?xml version="1.0" encoding="utf-8"?>
<robot name="fanuc_car">
  <link name="base_link"/>
  <link name="move_x_link"/>
  <joint name="joint_1" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="move_x_link" />
    <axis xyz="1 0 0" />
    <limit lower="-20" upper="20" effort="100" velocity="10" />
  </joint>
  <link name="move_y_link"/>
  <joint name="joint_2" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="move_x_link" />
    <child link="move_y_link" />
    <axis xyz="0 1 0" />
    <limit lower="-20" upper="20" effort="100" velocity="10" />
  </joint>
  <link name="car_link">
    <visual>
      <geometry>
        <mesh filename="mesh/car.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name=""><color rgba="1 0 0 1" /></material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="mesh/car.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="move_y_link" />
    <child link="car_link" />
    <axis xyz="0 0 1" />
    <limit lower="-6.2832" upper="6.2832" effort="100" velocity="10" />
  </joint>
  <link name="car_base">
    <visual>
      <geometry>
        <mesh filename="mesh/fanuc_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name=""><color rgba="1 0 0 1" /></material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/fanuc_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="move_y_link" />
    <child link="car_base" />
  </joint>
</robot>
